# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
<IfModule mod_headers.c>
   Header set Content-Security-Policy "default-src 'self'; img-src 'self'; style-src 'self' script-src 'self' 'unsafe-inline' *.googleapis.com; script-src 'self' 'unsafe-inline' *.cloudflare"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
